In [189]:
# Initial imports

import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [190]:
# Reading Data Breaches CSV

csvpath = Path("../data/raw data/Domenic csv 090316.csv")
data_breaches = pd.read_csv(csvpath)

data_breaches.head

<bound method NDFrame.head of                    Title               Name                 Domain  \
0             000webhost         000webhost         000webhost.com
1                     17            17Media               17app.co
2               Acne.org            AcneOrg               acne.org
3                  Adobe              Adobe              adobe.com
4    Adult Friend Finder  AdultFriendFinder  adultfriendfinder.com
..                   ...                ...                    ...
124               XSplit             XSplit             xsplit.com
125                Yahoo              Yahoo              yahoo.com
126          Yandex Dump             Yandex       forum.btcsec.com
127              YouPorn            YouPorn            youporn.com
128         Спрашивай.ру       SprashivaiRu          sprashivai.ru

     BreachDate             AddedDate   PwnCount                  Description  \
0    2015-03-01  2015-10-26T23:35:45Z   13545468  In approximately March 2015
1    2016-04-19  2016-07-08T01:55:03Z    4009640                In April 2016
2    2014-11-25  2016-03-06T11:07:41Z     432943             In November 2014
3    2013-10-04  2013-12-04T00:00:00Z  152445165              In October 2013
4    2015-05-21  2015-05-22T06:03:44Z    3867997                  In May 2015
..          ...                   ...        ...                          ...
124  2013-11-07  2015-08-08T04:28:48Z    2983472             In November 2013
125  2012-07-11  2013-12-04T00:00:00Z     453427                 In July 2012
126  2014-09-07  2014-09-12T04:50:32Z    1186564            In September 2014
127  2012-02-21  2015-07-30T05:32:00Z    1327567             In February 2012
128  2015-05-11  2015-05-12T23:50:08Z    3474763                  In May 2015

                                                     0  \
0    the free web hosting provider <a href="http://...
1    customer data obtained from the streaming app ...
2    the acne website <a href="http://www.acne.org/...
3    153 million Adobe accounts were breached with ...
4    the adult hookup site <a href="http://www.bbc....
..                                                 ...
124  the makers of gaming live streaming and record...
125  Yahoo! had their online publishing service &qu...
126  <a href="http://habrahabr.ru/post/235949/" tar...
127  the adult website YouPorn <a href="http://www....
128  <a href="http://sprashivai.ru/" target="_blank...

                                                     1  \
0            email addresses and plain text passwords.
1    usernames and passwords stored as unsalted MD5...
2                           birth dates and passwords.
3                                             username
4                                       Dates of birth
..                                                 ...
124                                    email addresses
125  a staggering <a href="http://www.troyhunt.com/...
126  the Russian search engine giants who also prov...
127                                    Email addresses
128           the leaked data included email addresses

                                                     2  \
0                                      Email addresses
1                                   Device information
2                                       Dates of birth
3                                                email
4                                      Email addresses
..                                                 ...
124                    usernames and hashed passwords.
125                                    Email addresses
126                                    Email addresses
127                                          Passwords
128  birth dates and other personally identifiable ...

                                                     3           Unnamed: 11  \
0                                         IP addresses                 Names
1                                      Email addresses          IP addresses
2                                      Email addresses          IP addresses
3    <em>encrypted</em> password and a password hin...       Email addresses
4                                              Genders  Geographic locations
..                                                 ...                   ...
124                                    Email addresses                 Names
125                                          Passwords                   NaN
126                                          Passwords                   NaN
127                                                NaN                   NaN
128                                     Dates of birth       Email addresses

        Unnamed: 12           Unnamed: 13 Unnamed: 14 Unnamed: 15
0         Passwords                   NaN         NaN         NaN
1         Passwords                   NaN         NaN         NaN
2         Passwords                   NaN         NaN         NaN
3    Password hints             Passwords   Usernames         NaN
4               NaN                   NaN         NaN         NaN
..              ...                   ...         ...         ...
124       Passwords             Usernames         NaN         NaN
125             NaN                   NaN         NaN         NaN
126             NaN                   NaN         NaN         NaN
127             NaN                   NaN         NaN         NaN
128         Genders  Geographic locations         NaN         NaN

[129 rows x 16 columns]>

In [191]:
# Count nulls

data_breaches.isnull().sum()

Title            0
Name             0
Domain           0
BreachDate       0
AddedDate        0
PwnCount         0
Description      0
0                0
1                0
2                0
3                6
Unnamed: 11     13
Unnamed: 12     49
Unnamed: 13     88
Unnamed: 14    112
Unnamed: 15    120
dtype: int64

In [192]:
# Drop nulls

data_breaches = data_breaches.dropna()

data_breaches

,Title,Name,Domain,BreachDate,AddedDate,PwnCount,Description,0,1,2,3,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
13,Bell,Bell,bell.ca,2014-02-01,2014-02-01T23:57:10Z,20902,In February 2014,"<a href=""http://news.softpedia.com/news/Hacker...",usernames,user preferences and a number of unencrypted p...,000 records containing just over 20,000 unique email addresses and usernames.,Credit cards,Genders,Passwords,Usernames
22,COMELEC (Philippines Voters),COMELEC,comelec.gov.ph,2016-03-27,2016-04-14T02:24:32Z,228605,In March 2016,"<a href=""http://www.comelec.gov.ph/"" target=""_...",allegedly by Anonymous Philippines. Shortly after,"<a href=""http://www.theregister.co.uk/2016/04/...",marital statuses,height and weight and biometric fingerprint da...,Biometric data,Dates of birth,Email addresses,Family members' names
66,Muslim Directory,MuslimDirectory,muslimdirectory.co.uk,2014-02-17,2014-02-23T03:09:38Z,37784,In February 2014,the UK guide to services and business known as...,home address,age group,email,website activity and password in plain text.,Age groups,Email addresses,Employers,Names
80,Paddy Power,PaddyPower,paddypower.com,2010-10-25,2015-10-11T01:26:05Z,590954,In October 2010,"the Irish bookmaker <a href=""http://www.telegr...",000 customer records with nearly 600,000 unique email addresses. The breach was not...,addresses,phone numbers and plain text security question...,Account balances,Dates of birth,Email addresses,IP addresses
96,Spirol,Spirol,spirol.com,2014-02-22,2014-02-22T20:47:56Z,55622,In February 2014,Connecticut based Spirol Fastening Solutions <...,000 customer records</a>. The attack was alleg...,companies,contact information and over 55,000 unique email addresses.,Email addresses,Employers,Job titles,Names
105,ThisHabbo Forum,ThisHabboForum,thishabboforum.com,2014-01-01,2015-03-28T05:35:28Z,27978,In 2014,the ThisHabbo forum (a fan site for Habbo.com,"a Finnish social networking site) <a href=""htt...",the breached data includes usernames,email addresses,IP addresses and salted hashes of passwords.,Email addresses,IP addresses,Passwords,Usernames
111,UN Internet Governance Forum,IGF,intgovforum.org,2014-02-20,2014-02-23T04:32:08Z,3200,In February 2014,the Internet Governance Forum (formed by the U...,the IGF’s website was still breached and resul...,200 email addresses,names,usernames and cryptographically stored passwords.,Email addresses,Names,Passwords,Usernames
115,Vodafone,Vodafone,vodafone.is,2013-12-12,2013-11-30T00:00:00Z,56021,In November 2013,"<a href=""http://thehackernews.com/2013/11/voda...",email addresses,social security numbers,SMS message,server logs and passwords from a variety of di...,Credit cards,Email addresses,Government issued IDs,IP addresses
116,VTech,VTech,vtechda.com,2015-11-13,2015-11-25T07:00:57Z,4833678,In November 2015,"<a href=""http://www.troyhunt.com/2015/11/when-...",security questions and answers and passwords s...,children's details including names,ages,genders and associations to their parents' rec...,Dates of birth,Email addresses,Family members' names,Genders

In [193]:
# Rename Columns


data_breaches.rename(columns = {'Name':'Company Name', 'BreachDate':'Year of Breach', 'AddedDate':'Date Made Public','Unnamed: 11': 'Description of Incident'}, inplace = True)

data_breaches.head()

/var/folders/jl/7bykfdr560q50k3f7sc9xpfc0000gn/T/ipykernel_6181/1621622762.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_breaches.rename(columns = {'Name':'Company Name', 'BreachDate':'Year of Breach', 'AddedDate':'Date Made Public','Unnamed: 11': 'Description of Incident'}, inplace = True)

,Title,Company Name,Domain,Year of Breach,Date Made Public,PwnCount,Description,0,1,2,3,Description of Incident,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
13,Bell,Bell,bell.ca,2014-02-01,2014-02-01T23:57:10Z,20902,In February 2014,"<a href=""http://news.softpedia.com/news/Hacker...",usernames,user preferences and a number of unencrypted p...,000 records containing just over 20,000 unique email addresses and usernames.,Credit cards,Genders,Passwords,Usernames
22,COMELEC (Philippines Voters),COMELEC,comelec.gov.ph,2016-03-27,2016-04-14T02:24:32Z,228605,In March 2016,"<a href=""http://www.comelec.gov.ph/"" target=""_...",allegedly by Anonymous Philippines. Shortly after,"<a href=""http://www.theregister.co.uk/2016/04/...",marital statuses,height and weight and biometric fingerprint da...,Biometric data,Dates of birth,Email addresses,Family members' names
66,Muslim Directory,MuslimDirectory,muslimdirectory.co.uk,2014-02-17,2014-02-23T03:09:38Z,37784,In February 2014,the UK guide to services and business known as...,home address,age group,email,website activity and password in plain text.,Age groups,Email addresses,Employers,Names
80,Paddy Power,PaddyPower,paddypower.com,2010-10-25,2015-10-11T01:26:05Z,590954,In October 2010,"the Irish bookmaker <a href=""http://www.telegr...",000 customer records with nearly 600,000 unique email addresses. The breach was not...,addresses,phone numbers and plain text security question...,Account balances,Dates of birth,Email addresses,IP addresses
96,Spirol,Spirol,spirol.com,2014-02-22,2014-02-22T20:47:56Z,55622,In February 2014,Connecticut based Spirol Fastening Solutions <...,000 customer records</a>. The attack was alleg...,companies,contact information and over 55,000 unique email addresses.,Email addresses,Employers,Job titles,Names

In [194]:
# Join Columns

data_breaches['Data Loss'] = data_breaches['Unnamed: 12'] + data_breaches['Unnamed: 13'] + data_breaches['Unnamed: 14'] + data_breaches['Unnamed: 15']
data_breaches.head()

/var/folders/jl/7bykfdr560q50k3f7sc9xpfc0000gn/T/ipykernel_6181/468347613.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_breaches['Data Loss'] = data_breaches['Unnamed: 12'] + data_breaches['Unnamed: 13'] + data_breaches['Unnamed: 14'] + data_breaches['Unnamed: 15']

,Title,Company Name,Domain,Year of Breach,Date Made Public,PwnCount,Description,0,1,2,3,Description of Incident,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Data Loss
13,Bell,Bell,bell.ca,2014-02-01,2014-02-01T23:57:10Z,20902,In February 2014,"<a href=""http://news.softpedia.com/news/Hacker...",usernames,user preferences and a number of unencrypted p...,000 records containing just over 20,000 unique email addresses and usernames.,Credit cards,Genders,Passwords,Usernames,Credit cardsGendersPasswordsUsernames
22,COMELEC (Philippines Voters),COMELEC,comelec.gov.ph,2016-03-27,2016-04-14T02:24:32Z,228605,In March 2016,"<a href=""http://www.comelec.gov.ph/"" target=""_...",allegedly by Anonymous Philippines. Shortly after,"<a href=""http://www.theregister.co.uk/2016/04/...",marital statuses,height and weight and biometric fingerprint da...,Biometric data,Dates of birth,Email addresses,Family members' names,Biometric dataDates of birthEmail addressesFam...
66,Muslim Directory,MuslimDirectory,muslimdirectory.co.uk,2014-02-17,2014-02-23T03:09:38Z,37784,In February 2014,the UK guide to services and business known as...,home address,age group,email,website activity and password in plain text.,Age groups,Email addresses,Employers,Names,Age groupsEmail addressesEmployersNames
80,Paddy Power,PaddyPower,paddypower.com,2010-10-25,2015-10-11T01:26:05Z,590954,In October 2010,"the Irish bookmaker <a href=""http://www.telegr...",000 customer records with nearly 600,000 unique email addresses. The breach was not...,addresses,phone numbers and plain text security question...,Account balances,Dates of birth,Email addresses,IP addresses,Account balancesDates of birthEmail addressesI...
96,Spirol,Spirol,spirol.com,2014-02-22,2014-02-22T20:47:56Z,55622,In February 2014,Connecticut based Spirol Fastening Solutions <...,000 customer records</a>. The attack was alleg...,companies,contact information and over 55,000 unique email addresses.,Email addresses,Employers,Job titles,Names,Email addressesEmployersJob titlesNames

In [195]:
# Drop Columns

data_breaches.drop(['Unnamed: 12','Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', '0', 'Domain', 'Description of Incident', '3', '1', '2', 'PwnCount'], axis=1, inplace=True)

data_breaches

/var/folders/jl/7bykfdr560q50k3f7sc9xpfc0000gn/T/ipykernel_6181/3936227836.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_breaches.drop(['Unnamed: 12','Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', '0', 'Domain', 'Description of Incident', '3', '1', '2', 'PwnCount'], axis=1, inplace=True)

,Title,Company Name,Year of Breach,Date Made Public,Description,Data Loss
13,Bell,Bell,2014-02-01,2014-02-01T23:57:10Z,In February 2014,Credit cardsGendersPasswordsUsernames
22,COMELEC (Philippines Voters),COMELEC,2016-03-27,2016-04-14T02:24:32Z,In March 2016,Biometric dataDates of birthEmail addressesFam...
66,Muslim Directory,MuslimDirectory,2014-02-17,2014-02-23T03:09:38Z,In February 2014,Age groupsEmail addressesEmployersNames
80,Paddy Power,PaddyPower,2010-10-25,2015-10-11T01:26:05Z,In October 2010,Account balancesDates of birthEmail addressesI...
96,Spirol,Spirol,2014-02-22,2014-02-22T20:47:56Z,In February 2014,Email addressesEmployersJob titlesNames
105,ThisHabbo Forum,ThisHabboForum,2014-01-01,2015-03-28T05:35:28Z,In 2014,Email addressesIP addressesPasswordsUsernames
111,UN Internet Governance Forum,IGF,2014-02-20,2014-02-23T04:32:08Z,In February 2014,Email addressesNamesPasswordsUsernames
115,Vodafone,Vodafone,2013-12-12,2013-11-30T00:00:00Z,In November 2013,Credit cardsEmail addressesGovernment issued I...
116,VTech,VTech,2015-11-13,2015-11-25T07:00:57Z,In November 2015,Dates of birthEmail addressesFamily members' n...

In [196]:
data_breaches = data_breaches.set_index('Year of Breach')

data_breaches.head()

,Title,Company Name,Date Made Public,Description,Data Loss
Year of Breach,,,,,
2014-02-01,Bell,Bell,2014-02-01T23:57:10Z,In February 2014,Credit cardsGendersPasswordsUsernames
2016-03-27,COMELEC (Philippines Voters),COMELEC,2016-04-14T02:24:32Z,In March 2016,Biometric dataDates of birthEmail addressesFam...
2014-02-17,Muslim Directory,MuslimDirectory,2014-02-23T03:09:38Z,In February 2014,Age groupsEmail addressesEmployersNames
2010-10-25,Paddy Power,PaddyPower,2015-10-11T01:26:05Z,In October 2010,Account balancesDates of birthEmail addressesI...
2014-02-22,Spirol,Spirol,2014-02-22T20:47:56Z,In February 2014,Email addressesEmployersJob titlesNames