In [133]:
# Initial imports

import pandas as pd
import numpy as np
import datetime as dt
import plotly.express as px
import os
import hvplot.pandas
import scipy.stats
from pathlib import Path

%matplotlib inline

In [65]:
# Reading Data Breaches CSV

csvpath = Path("../data/raw data/Domenic csv 090316.csv")
data_breaches = pd.read_csv(csvpath)

data_breaches

,Title,Name,Domain,BreachDate,AddedDate,PwnCount,Description,0,1,2,3,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,000webhost,000webhost,000webhost.com,2015-03-01,2015-10-26T23:35:45Z,13545468,In approximately March 2015,"the free web hosting provider <a href=""http://...",email addresses and plain text passwords.,Email addresses,IP addresses,Names,Passwords,NaN,NaN,NaN
1,17,17Media,17app.co,2016-04-19,2016-07-08T01:55:03Z,4009640,In April 2016,customer data obtained from the streaming app ...,usernames and passwords stored as unsalted MD5...,Device information,Email addresses,IP addresses,Passwords,NaN,NaN,NaN
2,Acne.org,AcneOrg,acne.org,2014-11-25,2016-03-06T11:07:41Z,432943,In November 2014,"the acne website <a href=""http://www.acne.org/...",birth dates and passwords.,Dates of birth,Email addresses,IP addresses,Passwords,NaN,NaN,NaN
3,Adobe,Adobe,adobe.com,2013-10-04,2013-12-04T00:00:00Z,152445165,In October 2013,153 million Adobe accounts were breached with ...,username,email,<em>encrypted</em> password and a password hin...,Email addresses,Password hints,Passwords,Usernames,NaN
4,Adult Friend Finder,AdultFriendFinder,adultfriendfinder.com,2015-05-21,2015-05-22T06:03:44Z,3867997,In May 2015,"the adult hookup site <a href=""http://www.bbc....",Dates of birth,Email addresses,Genders,Geographic locations,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,XSplit,XSplit,xsplit.com,2013-11-07,2015-08-08T04:28:48Z,2983472,In November 2013,the makers of gaming live streaming and record...,email addresses,usernames and hashed passwords.,Email addresses,Names,Passwords,Usernames,NaN,NaN
125,Yahoo,Yahoo,yahoo.com,2012-07-11,2013-12-04T00:00:00Z,453427,In July 2012,Yahoo! had their online publishing service &qu...,"a staggering <a href=""http://www.troyhunt.com/...",Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN
126,Yandex Dump,Yandex,forum.btcsec.com,2014-09-07,2014-09-12T04:50:32Z,1186564,In September 2014,"<a href=""http://habrahabr.ru/post/235949/"" tar...",the Russian search engine giants who also prov...,Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN
127,YouPorn,YouPorn,youporn.com,2012-02-21,2015-07-30T05:32:00Z,1327567,In February 2012,"the adult website YouPorn <a href=""http://www....",Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN,NaN
128,Спрашивай.ру,SprashivaiRu,sprashivai.ru,2015-05-11,2015-05-12T23:50:08Z,3474763,In May 2015,"<a href=""http://sprashivai.ru/"" target=""_blank...",the leaked data included email addresses,birth dates and other personally identifiable ...,Dates of birth,Email addresses,Genders,Geographic locations,NaN,NaN

In [66]:
# Count nulls


data_breaches.isnull().sum()

Title            0
Name             0
Domain           0
BreachDate       0
AddedDate        0
PwnCount         0
Description      0
0                0
1                0
2                0
3                6
Unnamed: 11     13
Unnamed: 12     49
Unnamed: 13     88
Unnamed: 14    112
Unnamed: 15    120
dtype: int64

In [67]:
# Drop nulls

#data_breaches = data_breaches.dropna()

#data_breaches

In [68]:
# Rename Columns


data_breaches.rename(columns = {'Name':'Company Name', 'BreachDate':'Year of Breach', 'AddedDate':'Date Made Public','Unnamed: 11': 'Description of Incident', 'PwnCount': 'Total Records'}, inplace = True)

data_breaches

,Title,Company Name,Domain,Year of Breach,Date Made Public,Total Records,Description,0,1,2,3,Description of Incident,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,000webhost,000webhost,000webhost.com,2015-03-01,2015-10-26T23:35:45Z,13545468,In approximately March 2015,"the free web hosting provider <a href=""http://...",email addresses and plain text passwords.,Email addresses,IP addresses,Names,Passwords,NaN,NaN,NaN
1,17,17Media,17app.co,2016-04-19,2016-07-08T01:55:03Z,4009640,In April 2016,customer data obtained from the streaming app ...,usernames and passwords stored as unsalted MD5...,Device information,Email addresses,IP addresses,Passwords,NaN,NaN,NaN
2,Acne.org,AcneOrg,acne.org,2014-11-25,2016-03-06T11:07:41Z,432943,In November 2014,"the acne website <a href=""http://www.acne.org/...",birth dates and passwords.,Dates of birth,Email addresses,IP addresses,Passwords,NaN,NaN,NaN
3,Adobe,Adobe,adobe.com,2013-10-04,2013-12-04T00:00:00Z,152445165,In October 2013,153 million Adobe accounts were breached with ...,username,email,<em>encrypted</em> password and a password hin...,Email addresses,Password hints,Passwords,Usernames,NaN
4,Adult Friend Finder,AdultFriendFinder,adultfriendfinder.com,2015-05-21,2015-05-22T06:03:44Z,3867997,In May 2015,"the adult hookup site <a href=""http://www.bbc....",Dates of birth,Email addresses,Genders,Geographic locations,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,XSplit,XSplit,xsplit.com,2013-11-07,2015-08-08T04:28:48Z,2983472,In November 2013,the makers of gaming live streaming and record...,email addresses,usernames and hashed passwords.,Email addresses,Names,Passwords,Usernames,NaN,NaN
125,Yahoo,Yahoo,yahoo.com,2012-07-11,2013-12-04T00:00:00Z,453427,In July 2012,Yahoo! had their online publishing service &qu...,"a staggering <a href=""http://www.troyhunt.com/...",Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN
126,Yandex Dump,Yandex,forum.btcsec.com,2014-09-07,2014-09-12T04:50:32Z,1186564,In September 2014,"<a href=""http://habrahabr.ru/post/235949/"" tar...",the Russian search engine giants who also prov...,Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN
127,YouPorn,YouPorn,youporn.com,2012-02-21,2015-07-30T05:32:00Z,1327567,In February 2012,"the adult website YouPorn <a href=""http://www....",Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN,NaN
128,Спрашивай.ру,SprashivaiRu,sprashivai.ru,2015-05-11,2015-05-12T23:50:08Z,3474763,In May 2015,"<a href=""http://sprashivai.ru/"" target=""_blank...",the leaked data included email addresses,birth dates and other personally identifiable ...,Dates of birth,Email addresses,Genders,Geographic locations,NaN,NaN

In [69]:
# Join Columns

data_breaches['Data Loss'] = data_breaches['Unnamed: 12'] + data_breaches['Unnamed: 13'] + data_breaches['Unnamed: 14'] + data_breaches['Unnamed: 15']
data_breaches

,Title,Company Name,Domain,Year of Breach,Date Made Public,Total Records,Description,0,1,2,3,Description of Incident,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Data Loss
0,000webhost,000webhost,000webhost.com,2015-03-01,2015-10-26T23:35:45Z,13545468,In approximately March 2015,"the free web hosting provider <a href=""http://...",email addresses and plain text passwords.,Email addresses,IP addresses,Names,Passwords,NaN,NaN,NaN,NaN
1,17,17Media,17app.co,2016-04-19,2016-07-08T01:55:03Z,4009640,In April 2016,customer data obtained from the streaming app ...,usernames and passwords stored as unsalted MD5...,Device information,Email addresses,IP addresses,Passwords,NaN,NaN,NaN,NaN
2,Acne.org,AcneOrg,acne.org,2014-11-25,2016-03-06T11:07:41Z,432943,In November 2014,"the acne website <a href=""http://www.acne.org/...",birth dates and passwords.,Dates of birth,Email addresses,IP addresses,Passwords,NaN,NaN,NaN,NaN
3,Adobe,Adobe,adobe.com,2013-10-04,2013-12-04T00:00:00Z,152445165,In October 2013,153 million Adobe accounts were breached with ...,username,email,<em>encrypted</em> password and a password hin...,Email addresses,Password hints,Passwords,Usernames,NaN,NaN
4,Adult Friend Finder,AdultFriendFinder,adultfriendfinder.com,2015-05-21,2015-05-22T06:03:44Z,3867997,In May 2015,"the adult hookup site <a href=""http://www.bbc....",Dates of birth,Email addresses,Genders,Geographic locations,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,XSplit,XSplit,xsplit.com,2013-11-07,2015-08-08T04:28:48Z,2983472,In November 2013,the makers of gaming live streaming and record...,email addresses,usernames and hashed passwords.,Email addresses,Names,Passwords,Usernames,NaN,NaN,NaN
125,Yahoo,Yahoo,yahoo.com,2012-07-11,2013-12-04T00:00:00Z,453427,In July 2012,Yahoo! had their online publishing service &qu...,"a staggering <a href=""http://www.troyhunt.com/...",Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN,NaN
126,Yandex Dump,Yandex,forum.btcsec.com,2014-09-07,2014-09-12T04:50:32Z,1186564,In September 2014,"<a href=""http://habrahabr.ru/post/235949/"" tar...",the Russian search engine giants who also prov...,Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN,NaN
127,YouPorn,YouPorn,youporn.com,2012-02-21,2015-07-30T05:32:00Z,1327567,In February 2012,"the adult website YouPorn <a href=""http://www....",Email addresses,Passwords,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Спрашивай.ру,SprashivaiRu,sprashivai.ru,2015-05-11,2015-05-12T23:50:08Z,3474763,In May 2015,"<a href=""http://sprashivai.ru/"" target=""_blank...",the leaked data included email addresses,birth dates and other personally identifiable ...,Dates of birth,Email addresses,Genders,Geographic locations,NaN,NaN,NaN

In [70]:
# Assign Dataframe

Dom_Cleaned_data = data_breaches[['Company Name', 'Year of Breach', 'Date Made Public', 'Data Loss', 'Total Records']]

In [71]:
# Save CSV File

Dom_Cleaned_data.to_csv("../data/clean data/Dom_Cleaned_data.csv")

In [72]:
# Import Domenic Data

csvpath = Path("../data/clean data/Dom_Cleaned_Data.csv")
dom_data = pd.read_csv(csvpath)


# Format Data

dom_data = dom_data[['Year of Breach',	'Company Name',	'Total Records']]

dom_data

    Year of Breach       Company Name  Total Records
0       2015-03-01         000webhost       13545468
1       2016-04-19            17Media        4009640
2       2014-11-25            AcneOrg         432943
3       2013-10-04              Adobe      152445165
4       2015-05-21  AdultFriendFinder        3867997
..             ...                ...            ...
124     2013-11-07             XSplit        2983472
125     2012-07-11              Yahoo         453427
126     2014-09-07             Yandex        1186564
127     2012-02-21            YouPorn        1327567
128     2015-05-11       SprashivaiRu        3474763

[129 rows x 3 columns]

In [73]:
# Count Nulls

dom_data.isnull().sum()

Year of Breach    0
Company Name      0
Total Records     0
dtype: int64

In [74]:
# Import Liam Data

csvpath = Path("../data/clean data/Clean_DataBreaches(2008-2018).csv")
liam_data = pd.read_csv(csvpath)


# Format Data

liam_data = liam_data[['Year of Breach','Company Name','Total Records']]

liam_data

    Year of Breach                  Company Name  Total Records
0             2008                     GS Caltex       11100000
1             2008           Stanford University          72000
2             2008                UK Home Office          84000
3             2008        UK Ministry of Defence        1700000
4             2008           University of Miami        2100000
..             ...                           ...            ...
205           2018  United States Postal Service       60000000
206           2018                     HauteLook       28517244
207           2018                  Under Armour      150000000
208           2018                    MyHeritage       92283889
209           2018                       Exactis      340000000

[210 rows x 3 columns]

In [75]:
# Import Tempest Data

csvpath = Path("../data/raw data/Udated Tempest Data.csv")
tempest_data = pd.read_csv(csvpath)


# Format Data
tempest_data.rename(columns = {'Company':'Company Name'}, inplace = True)
tempest_data = tempest_data[['Year of Breach','Company Name','Total Records']]


tempest_data.dtypes
    


tempest_data

      Year of Breach                         Company Name  Total Records
0               2017                            Gourmesso              1
1               2017                     State of Indiana              1
2               2017  Community Physicians of indiana inc              1
3               2017                             Exam one              1
4               2018                          Employ indy              1
...              ...                                  ...            ...
6817            2016                              MySpace      360000000
6818            2016                         FriendFinder      412000000
6819            2016                                Yahoo      500000000
6820            2017                     River City Media     1370000000
6821            2016                                Yahoo     3000000000

[6822 rows x 3 columns]

In [76]:
# Parse Date Time Dom Data Year Of Breach

year_of_breach = []

for data in dom_data['Year of Breach']:
    year_of_breach.append(data[:4])
dom_data['Year of Breach'] = year_of_breach

In [77]:
# Combimne CVS Files

data_breaches_csv = pd.concat([dom_data, liam_data, tempest_data])

data_breaches_csv

     Year of Breach       Company Name  Total Records
0              2015         000webhost       13545468
1              2016            17Media        4009640
2              2014            AcneOrg         432943
3              2013              Adobe      152445165
4              2015  AdultFriendFinder        3867997
...             ...                ...            ...
6817           2016            MySpace      360000000
6818           2016       FriendFinder      412000000
6819           2016              Yahoo      500000000
6820           2017   River City Media     1370000000
6821           2016              Yahoo     3000000000

[7161 rows x 3 columns]

In [78]:
# Set Column Index

data_breaches_csv.set_index('Company Name')

                  Year of Breach  Total Records
Company Name
000webhost                  2015       13545468
17Media                     2016        4009640
AcneOrg                     2014         432943
Adobe                       2013      152445165
AdultFriendFinder           2015        3867997
...                          ...            ...
MySpace                     2016      360000000
FriendFinder                2016      412000000
Yahoo                       2016      500000000
River City Media            2017     1370000000
Yahoo                       2016     3000000000

[7161 rows x 2 columns]

In [79]:
# View Duplicates/ Save as variable

dups = data_breaches_csv[data_breaches_csv.duplicated(["Company Name", 'Year of Breach'])]

dups

,Year of Breach,Company Name,Total Records
36,2010,Gawker,1500000
79,2011,Stratfor,935000
97,2012,Dropbox,68648009
98,2012,Gamigo,8000000
116,2013,Vodafone,2000000
...,...,...,...
6723,2015,Medical Informatics Engineering,3900000
6731,2015,UCLA Health System,4500000
6732,2015,"University of California, Los Angeles Health",4500000
6762,2015,Premera Blue Cross,11000000
6821,2016,Yahoo,3000000000

In [80]:
# Drop Duplicates 


Data_Breaches = data_breaches_csv.drop_duplicates(subset= ["Company Name", 'Year of Breach'],keep='first')


Data_Breaches

     Year of Breach       Company Name  Total Records
0              2015         000webhost       13545468
1              2016            17Media        4009640
2              2014            AcneOrg         432943
3              2013              Adobe      152445165
4              2015  AdultFriendFinder        3867997
...             ...                ...            ...
6816           2018            Exactis      340000000
6817           2016            MySpace      360000000
6818           2016       FriendFinder      412000000
6819           2016              Yahoo      500000000
6820           2017   River City Media     1370000000

[6555 rows x 3 columns]

In [81]:
# Find all duplicates in data set with out "dups"

Data_Breaches

     Year of Breach       Company Name  Total Records
0              2015         000webhost       13545468
1              2016            17Media        4009640
2              2014            AcneOrg         432943
3              2013              Adobe      152445165
4              2015  AdultFriendFinder        3867997
...             ...                ...            ...
6816           2018            Exactis      340000000
6817           2016            MySpace      360000000
6818           2016       FriendFinder      412000000
6819           2016              Yahoo      500000000
6820           2017   River City Media     1370000000

[6555 rows x 3 columns]

In [82]:
# Save Both Dups CSV & Data Breaches CSV

Data_Breaches.to_csv("../data/clean data/Data_Breaches.csv")
dups.to_csv("../data/clean data/Data_Breaches_duplicates.csv")

In [83]:
# Import Data Breaches as Clean Data Vairable 

csvpath = Path("../data/clean data/Data_Breaches.csv")

clean_data = pd.read_csv(csvpath)

In [84]:
# Find Duplicates inside of Clean data set


Multiple_offenders = clean_data[clean_data.duplicated(["Company Name"])]
Multiple_offenders

      Unnamed: 0 Year of Breach            Company Name  Total Records
173           45           2010                    AT&T         114000
237          112           2013                   Yahoo     3000000000
241          117           2013               Citigroup         150000
261          138           2014         JP Morgan Chase       76000000
268          145           2014                   Yahoo      500000000
...          ...            ...                     ...            ...
6545        6811           2018            Under Armour      150000000
6549        6815           2018  Marriott International      327000000
6550        6816           2018                 Exactis      340000000
6551        6817           2016                 MySpace      360000000
6553        6819           2016                   Yahoo      500000000

[533 rows x 4 columns]

In [85]:
# sort by Company Name

Multiple_offenders = Multiple_offenders.sort_values('Company Name', ascending=True)

Multiple_offenders

      Unnamed: 0 Year of Breach           Company Name  Total Records
6440        6701           2016  21st Century Oncology        2200000
173           45           2010                   AT&T         114000
3566        3529           2009                   AT&T           2100
460          153           2014                   AT&T              3
1272         997           2012                  Adobe            230
...          ...            ...                    ...            ...
5004        5141           2007        Yale University          10200
5786        6000           2011        Yale University          43000
2840        2713           2012        Yale University           1200
2762        2626           2018        Yale University           1102
2648        2497           2010        Yale University           1000

[533 rows x 4 columns]

In [86]:
# Save The Duplicate aetna data set


aetna = Multiple_offenders.loc[(Multiple_offenders["Company Name"] == "Aetna"),
['Year of Breach', 'Total Records', 'Company Name']]

aetna

     Year of Breach  Total Records Company Name
5113           2017          12000        Aetna
4625           2010           6372        Aetna
5931           2009          65000        Aetna

In [87]:
# Save The Duplicate walgreen data set


walgreens = Multiple_offenders.loc[(Multiple_offenders["Company Name"] == "Walgreen Co."),
['Year of Breach', 'Total Records', 'Company Name']]

walgreens

     Year of Breach  Total Records  Company Name
5359           2013          17350  Walgreen Co.
2796           2015           1138  Walgreen Co.
4334           2017           4500  Walgreen Co.
2438           2016            880  Walgreen Co.
2895           2012           1240  Walgreen Co.

In [88]:
# Save The Duplicate facebook data set


facebook = Multiple_offenders.loc[(Multiple_offenders["Company Name"] == "Facebook"),
['Year of Breach', 'Total Records', 'Company Name']]

facebook

     Year of Breach  Total Records Company Name
317            2018       50000000     Facebook
6480           2013        6000000     Facebook
6533           2008       80000000     Facebook

In [89]:
# Save The Duplicate citigroup data set


citigroup = Multiple_offenders.loc[(Multiple_offenders["Company Name"] == "Citigroup"),
['Year of Breach', 'Total Records', 'Company Name']]

citigroup

     Year of Breach  Total Records Company Name
1706           2007            519    Citigroup
6136           2013         146000    Citigroup
6329           2010         600000    Citigroup
241            2013         150000    Citigroup
534            2006             11    Citigroup

In [90]:
# Save The Duplicate Att data set

att = Multiple_offenders.loc[(Multiple_offenders["Company Name"] == "AT&T"),
['Year of Breach', 'Total Records', 'Company Name']]

att

     Year of Breach  Total Records Company Name
173            2010         114000         AT&T
3566           2009           2100         AT&T
460            2014              3         AT&T

In [91]:
# Merge all 5 company csv files into 1

top5_dups = pd.concat([facebook, walgreens, att, aetna, citigroup]) 

top5_dups

     Year of Breach  Total Records  Company Name
317            2018       50000000      Facebook
6480           2013        6000000      Facebook
6533           2008       80000000      Facebook
5359           2013          17350  Walgreen Co.
2796           2015           1138  Walgreen Co.
4334           2017           4500  Walgreen Co.
2438           2016            880  Walgreen Co.
2895           2012           1240  Walgreen Co.
173            2010         114000          AT&T
3566           2009           2100          AT&T
460            2014              3          AT&T
5113           2017          12000         Aetna
4625           2010           6372         Aetna
5931           2009          65000         Aetna
1706           2007            519     Citigroup
6136           2013         146000     Citigroup
6329           2010         600000     Citigroup
241            2013         150000     Citigroup
534            2006             11     Citigroup

In [92]:
# Save Claen Data as CSV

Multiple_offenders.to_csv("../data/clean data/hacked_multiple_times.csv")

In [93]:
#Save all CSV's

top5_dups.to_csv("../data/clean data/top5_companies_to_plot.csv")
att.to_csv("../data/clean data/att.csv")
facebook.to_csv("../data/clean data/facebook.csv")
walgreens.to_csv("../data/clean data/walgreens.csv")
aetna.to_csv("../data/clean data/aetna.csv")
citigroup.to_csv("../data/clean data/citigroup.csv")

In [94]:
# Import financial data for facebook

# Import 2013 daily
csvpath = Path("../data/raw data/Facebook Stock Data 2013 daily - Sheet1.csv")
fb_2013_daily_data = pd.read_csv(csvpath)


# Import 2013 weekly
csvpath = Path("../data/raw data/Facebook Stock Data 2013 weekly - Sheet1.csv")
fb_2013_weekly_data = pd.read_csv(csvpath)


# Import 2018 daily
csvpath = Path("../data/raw data/Facebook Stock Data 2018 daily - Sheet1.csv")
fb_2018_daily_data = pd.read_csv(csvpath)


# Import 2018 weekly
csvpath = Path("../data/raw data/Facebook Stock Data 2018 weekly - Sheet1.csv")
fb_2018_weekly_data = pd.read_csv(csvpath)

In [95]:
# Slice day before, day of & day after 2013 close data
fb2013_day_before = fb_2013_daily_data.loc[(fb_2013_daily_data["Date"] == "2013-02-14")]
fb2013_day_of = fb_2013_daily_data.loc[(fb_2013_daily_data["Date"] == "2013-02-15")] 
fb2013_day_after = fb_2013_daily_data.loc[(fb_2013_daily_data["Date"] == "2013-02-19")]

In [96]:
# Slice week before, week of & week after 2013 close data
fb2013_week_before = fb_2013_weekly_data.loc[(fb_2013_weekly_data["Date"] == "2013-02-08")]
fb2013_week_of = fb_2013_weekly_data.loc[(fb_2013_weekly_data["Date"] == "2013-02-15")] 
fb2013_week_after = fb_2013_weekly_data.loc[(fb_2013_weekly_data["Date"] == "2013-02-22")]

In [97]:
# Concat weekly 2013 data into df

fbweekly2013 = pd.concat([fb2013_week_before, fb2013_week_of, fb2013_week_after])
fbweekly2013

         Date  Close
5  2013-02-08  28.55
6  2013-02-15  28.32
7  2013-02-22  27.13

In [98]:
# Concat daily 2013 data into df

fbdaily2013 = pd.concat([fb2013_day_before, fb2013_day_of, fb2013_day_after])
fbdaily2013

          Date  Close
30  2013-02-14  28.50
31  2013-02-15  28.32
32  2013-02-19  28.93

In [99]:
# Slice day before, day of & day after 2018 close data

fb2018_day_before = fb_2018_daily_data.loc[(fb_2018_daily_data["Date"] == "2018-09-24")]
fb2018_day_of = fb_2018_daily_data.loc[(fb_2018_daily_data["Date"] == "2018-09-25")] 
fb2018_day_after = fb_2018_daily_data.loc[(fb_2018_daily_data["Date"] == "2018-09-26")]

In [100]:
# Slice week before, week of & week after 2018 close data


fb2018_week_before = fb_2018_weekly_data.loc[(fb_2018_weekly_data["Date"] == "2018-09-21")]
fb2018_week_of = fb_2018_weekly_data.loc[(fb_2018_weekly_data["Date"] == "2018-09-28")] 
fb2018_week_after = fb_2018_weekly_data.loc[(fb_2018_weekly_data["Date"] == "2018-10-05")]

In [101]:
# Concat weekly 2018 data into df


fbweekly2018 = pd.concat([fb2018_week_before, fb2018_week_of, fb2018_week_after])
fbweekly2018

          Date   Close
37  2018-09-21  162.93
38  2018-09-28  164.46
39  2018-10-05  157.33

In [102]:
# Concat daily 2018 data into df


fbdaily2018 = pd.concat([fb2018_day_before, fb2018_day_of, fb2018_day_after])
fbdaily2018

           Date   Close
183  2018-09-24  165.41
184  2018-09-25  164.91
185  2018-09-26  166.95

In [103]:
fbdaily2013.hvplot()

:Curve   [index]   (Close)

In [111]:

fbweekly2013.hvplot.()

:Overlay
   .Curve.I  :Curve   [index]   (Close)
   .Curve.II :Curve   [index]   (Close)

In [135]:
fbdaily2018.hvplot() + fbweekly2018.hvplot()

:Layout
   .Curve.I  :Curve   [index]   (Close)
   .Curve.II :Curve   [index]   (Close)

In [109]:
fbweekly2018.hvplot()

:Curve   [index]   (Close)

In [134]:
fbdaily2013.hvplot.line('Date', 'Close', label="Facebook 2013 daily close") * fbdaily2018.hvplot.line('Date', 'Close', label="Facebook 2018 daily close") * fbweekly2018.hvplot.line('Date', 'Close', label="Facebook 2018 weekly close") * fbweekly2013.hvplot.line('Date', 'Close', label="Facebook 2013 wekly close")

:Overlay
   .Curve.Facebook_2013_daily_close  :Curve   [Date]   (Close)
   .Curve.Facebook_2018_daily_close  :Curve   [Date]   (Close)
   .Curve.Facebook_2018_weekly_close :Curve   [Date]   (Close)
   .Curve.Facebook_2013_wekly_close  :Curve   [Date]   (Close)

In [132]:
px.scatter(fbdaily2013, x='Date', y='Close', color='Close')