In [54]:
# Initial import
import pandas as pd
from pathlib import Path

In [55]:
# Read in CSV, create data frame
csv_2_path = Path("../data/raw data/DataBreaches(2004-2021).csv")
csv_2_data = pd.read_csv(csv_2_path)

In [56]:
# View Dataset
csv_2_data.head()

,Entity,Year,Records,Organization type,Method
0,21st Century Oncology,2016,2200000,healthcare,hacked
1,500px,2020,14870304,social networking,hacked
2,Accendo Insurance Co.,2020,175350,healthcare,poor security
3,Adobe Systems Incorporated,2013,152000000,tech,hacked
4,Adobe Inc.,2019,7500000,tech,poor security

In [57]:
# check for nulls  
csv_2_data.isnull().sum()

Entity               0
Year                 0
Records              0
Organization type    0
Method               0
dtype: int64

In [58]:
#renamed method to match tempest and dom csv's
csv_2_data['Method'] = csv_2_data['Method'].str.replace('hacked','HACK')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('lost / stolen computer','STAT')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('inside job','INSD')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('poor security','HACK')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('HACK / HACK','HACK')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('social engineering', 'PHYS')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('accidentally published','DISC')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('lost / stolen media','STAT')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('unknown','UNKN')

In [59]:
# Renamed columns to match other csv's
csv_2_data.rename(columns={'Method': 'Type of Breach', 'Organization type': 'Type of Organization', 'Records': 'Total Records', 'Entity': 'Company Name', 'Year': 'Year of Breach'}, inplace=True)
csv_2_data

,Company Name,Year of Breach,Total Records,Type of Organization,Type of Breach
0,21st Century Oncology,2016,2200000,healthcare,HACK
1,500px,2020,14870304,social networking,HACK
2,Accendo Insurance Co.,2020,175350,healthcare,HACK
3,Adobe Systems Incorporated,2013,152000000,tech,HACK
4,Adobe Inc.,2019,7500000,tech,HACK
...,...,...,...,...,...
290,Zynga,2019,173000000,social network,HACK
291,Westpac,2019,98000,financial,HACK
292,Unknown agency(believed to be tied to United S...,2020,200000000,financial,DISC
293,National Health Information Center (NCZI) of S...,2020,391250,healthcare,HACK
294,Les Éditions Protégez-vous,2020,380000,publisher (magazine),UNKN

In [60]:
# Removed Data from years 2004, 2005, 2006, 2007, 2019, 2020, 2021 because other csv's do not have those years
csv_2_data = csv_2_data[(csv_2_data['Year of Breach'] > '2007') & (csv_2_data['Year of Breach'] <= '2018')]
csv_2_data

,Company Name,Year of Breach,Total Records,Type of Organization,Type of Breach
0,21st Century Oncology,2016,2200000,healthcare,HACK
3,Adobe Systems Incorporated,2013,152000000,tech,HACK
5,Advocate Medical Group,2017,4000000,healthcare,STAT
6,AerServ (subsidiary of InMobi),2018,75000,advertising,HACK
7,"Affinity Health Plan, Inc.",2013,344579,healthcare,STAT
...,...,...,...,...,...
284,Yahoo,2014,500000000,web,HACK
285,Yahoo Japan,2013,22000000,"tech, web",HACK
286,Yahoo! Voices,2012,450000,web,HACK
287,Yale University,2010,43000,academic,DISC
289,Zappos,2012,24000000,web,HACK

In [61]:
# Set index as year of breach
csv_2_data.set_index('Year of Breach', inplace=True)
csv_2_data

,Company Name,Total Records,Type of Organization,Type of Breach
Year of Breach,,,,
2016,21st Century Oncology,2200000,healthcare,HACK
2013,Adobe Systems Incorporated,152000000,tech,HACK
2017,Advocate Medical Group,4000000,healthcare,STAT
2018,AerServ (subsidiary of InMobi),75000,advertising,HACK
2013,"Affinity Health Plan, Inc.",344579,healthcare,STAT
...,...,...,...,...
2014,Yahoo,500000000,web,HACK
2013,Yahoo Japan,22000000,"tech, web",HACK
2012,Yahoo! Voices,450000,web,HACK
2010,Yale University,43000,academic,DISC
2012,Zappos,24000000,web,HACK

In [62]:
# Sort index by year
csv_2_data.sort_index(ascending=True, inplace=True)
csv_2_data

C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\pandas\core\frame.py:6402: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key,

,Company Name,Total Records,Type of Organization,Type of Breach
Year of Breach,,,,
2008,GS Caltex,11100000,energy,INSD
2008,Stanford University,72000,academic,STAT
2008,UK Home Office,84000,government,STAT
2008,UK Ministry of Defence,1700000,government,STAT
2008,University of Miami,2100000,academic,STAT
...,...,...,...,...
2018,United States Postal Service,60000000,government,HACK
2018,HauteLook,28517244,retail,HACK
2018,Under Armour,150000000,Consumer Goods,HACK
2018,MyHeritage,92283889,genealogy,UNKN
2018,Exactis,340000000,data broker,HACK

In [63]:
#Possible pyviz chart, after merging csvs
csv_2_data['Type of Breach'].value_counts()

HACK    146
STAT     37
DISC     14
INSD     11
PHYS      1
UNKN      1
Name: Type of Breach, dtype: int64

In [64]:
# Changed type of organizations to match other csv's
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('web','BSR')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('academic','EDU')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('government','GOV')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('financial','BSF')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('healthcare','MED')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('retail','BSR')

C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [65]:
#Possible pyviz chart, after merging csvs
csv_2_data['Type of Organization'].value_counts()

BSR                           53
MED                           35
GOV                           24
BSF                           21
EDU                           11
telecoms                      10
gaming                         8
tech                           8
military                       6
transport                      5
social network                 3
energy                         3
media                          2
GOV, MED                       2
hotel                          2
Consumer Goods                 1
banking                        1
fashion                        1
GOV, database                  1
advertising                    1
genealogy                      1
ticket distribution            1
Question & Answer              1
BSR, tech                      1
BSF, credit reporting          1
special public corporation     1
educational services           1
tech, BSR                      1
BSR, military                  1
military, MED                  1
BSR, gaming                    1
data broker                    1
Name: Type of Organization, dtype: int64

In [66]:
# Save df as csv, save it to clean data
csv_2_data.to_csv('../data/clean data/Clean_DataBreaches(2008-2018).csv', index=True)

In [78]:
# Read in Walgreens stock csv, created data frame
wba_stock_path = Path("../data/stock data 2/WBA_stock - Sheet1 (1).csv")
wba_stock_data = pd.read_csv(wba_stock_path, infer_datetime_format=True, parse_dates=True)
wba_stock_data

            Date  Close
0     2008-01-02  37.34
1     2008-01-03  35.06
2     2008-01-04  34.29
3     2008-01-07  35.07
4     2008-01-08  34.23
...          ...    ...
2514  2017-12-22  72.71
2515  2017-12-26  73.30
2516  2017-12-27  72.86
2517  2017-12-28  72.94
2518  2017-12-29  72.62

[2519 rows x 2 columns]

In [79]:
## First breach made public 
breach_1_day = wba_stock_data.loc[(wba_stock_data["Date"] == "2013-02-21")]
breach_1_day

            Date  Close
1294  2013-02-21  41.62

In [72]:
# Day Before made public
breach_1_before = wba_stock_data.loc[(wba_stock_data["Date"] == "2013-02-20")]
breach_1_before

            Date  Close
1293  2013-02-20   41.6

In [73]:
# Day after made public 
breach_1_after = wba_stock_data.loc[(wba_stock_data["Date"] == "2013-02-22")]
breach_1_after

            Date  Close
1295  2013-02-22  41.81

In [74]:
# Stock day breach 2 announced
breach_2_day = wba_stock_data.loc[(wba_stock_data["Date"] == "2015-03-04")]
breach_2_day

            Date  Close
1805  2015-03-04  83.02

In [75]:
# Stock day before breach 2 announced
breach_2_before = wba_stock_data.loc[(wba_stock_data["Date"] == "2015-03-03")]
breach_2_before

            Date  Close
1804  2015-03-03  83.21

In [76]:
# Stock day after breach 2 announced 
breach_2_after = wba_stock_data.loc[(wba_stock_data["Date"] == "2015-03-05")]
breach_2_after

            Date  Close
1806  2015-03-05   83.2

In [ ]:
# stock day breach 3 announced
breach_3_day = wba_stock_data.loc[(wba_stock_data["Date"] == "2017-07-27")]
breach_3_day

            Date  Close
2410  2017-07-27  78.78

In [ ]:
# Stock day before breach 3 announced
breach_3_before = wba_stock_data.loc[(wba_stock_data["Date"] == "2017-07-26")]
breach_3_before

            Date  Close
2409  2017-07-26  78.68

In [ ]:
# Stock day after breach 3 announced 
breach_3_after = wba_stock_data.loc[(wba_stock_data["Date"] == "2017-07-28")]
breach_3_after

            Date  Close
2411  2017-07-28  79.62

In [ ]:
# Stock week before breach 1 announced 
breach_1_week_bef = wba_stock_data.loc[(wba_stock_data["Date"] == "2013-02-14")]
breach_1_week_bef

            Date  Close
1290  2013-02-14  41.86

In [ ]:
# stock 1 week after breach 1 announced
breach_1_week_aft = wba_stock_data.loc[(wba_stock_data["Date"] == "2013-02-28")]
breach_1_week_aft

            Date  Close
1299  2013-02-28  40.94

In [ ]:
# Stock 1 week before breach 2 announced
breach_2_week_bef = wba_stock_data.loc[(wba_stock_data["Date"] == "2015-02-25")]
breach_2_week_bef

            Date  Close
1800  2015-02-25  80.01

In [ ]:
# Stock 1 week after breach 2 announced
breach_2_week_aft = wba_stock_data.loc[(wba_stock_data["Date"] == "2015-03-11")]
breach_2_week_aft

            Date  Close
1810  2015-03-11  82.51

In [ ]:
# Stock 1 week before breach 3 announced 
breach_3_week_bef = wba_stock_data.loc[(wba_stock_data["Date"] == "2017-07-20")]
breach_3_week_bef

            Date  Close
2405  2017-07-20   79.8

In [ ]:
# Stock 1 week after breach 3 announced
breach_3_week_aft = wba_stock_data.loc[(wba_stock_data["Date"] == "2017-08-03")]
breach_3_week_aft

            Date  Close
2415  2017-08-03  81.05

In [104]:
breach_1_months = wba_stock_data[(wba_stock_data['Date'] > '2013-01-20') & (wba_stock_data['Date'] <= '2013-03-22')]
breach_1_months.set_index("Date", inplace=True)
breach_1_months = breach_1_months.rename(columns={"Close":"WBA"})
breach_1_months

              WBA
Date
2013-01-22  39.49
2013-01-23  39.52
2013-01-24  39.44
2013-01-25  39.67
2013-01-28  40.10
2013-01-29  40.06
2013-01-30  39.87
2013-01-31  39.96
2013-02-01  40.31
2013-02-04  40.01
2013-02-05  41.33
2013-02-06  41.44
2013-02-07  41.31
2013-02-08  41.40
2013-02-11  41.48
2013-02-12  41.95
2013-02-13  41.48
2013-02-14  41.86
2013-02-15  41.15
2013-02-19  41.70
2013-02-20  41.60
2013-02-21  41.62
2013-02-22  41.81
2013-02-25  40.64
2013-02-26  40.80
2013-02-27  41.17
2013-02-28  40.94
2013-03-01  41.32
2013-03-04  41.77
2013-03-05  40.72
2013-03-06  39.96
2013-03-07  40.13
2013-03-08  40.64
2013-03-11  41.28
2013-03-12  41.04
2013-03-13  42.78
2013-03-14  42.72
2013-03-15  42.58
2013-03-18  42.43
2013-03-19  44.74
2013-03-20  46.02
2013-03-21  45.81
2013-03-22  46.49

In [81]:
# Reading in nasdaq stock, created data frame
NDAQ_stock_path = Path("../data/stock data 2/NDAQ - Sheet1.csv")
NDAQ_stock_data = pd.read_csv(NDAQ_stock_path, infer_datetime_format=True, parse_dates=True)
NDAQ_stock_data

            Date  Close
0     2008-01-02  48.23
1     2008-01-03  47.33
2     2008-01-04  44.64
3     2008-01-07  45.57
4     2008-01-08  43.52
...          ...    ...
2513  2017-12-22  76.09
2514  2017-12-26  76.13
2515  2017-12-27  76.34
2516  2017-12-28  76.67
2517  2017-12-29  76.83

[2518 rows x 2 columns]

In [103]:
ndaq_stock_1 = NDAQ_stock_data[(NDAQ_stock_data['Date'] > '2013-01-20') & (NDAQ_stock_data['Date'] <= '2013-03-22')]
ndaq_stock_1.set_index("Date", inplace=True)
ndaq_stock_1 = ndaq_stock_1.rename(columns={"Close":"NASDAQ"})
ndaq_stock_1

            NASDAQ
Date
2013-01-22   27.50
2013-01-23   27.38
2013-01-24   27.51
2013-01-25   27.70
2013-01-28   27.78
2013-01-29   27.90
2013-01-30   27.97
2013-01-31   28.32
2013-02-01   28.64
2013-02-04   28.36
2013-02-05   28.81
2013-02-06   29.00
2013-02-07   29.26
2013-02-08   29.47
2013-02-11   30.38
2013-02-12   30.55
2013-02-13   31.65
2013-02-14   30.60
2013-02-15   31.07
2013-02-19   31.49
2013-02-20   31.05
2013-02-21   30.98
2013-02-22   31.36
2013-02-25   30.83
2013-02-26   31.45
2013-02-27   31.79
2013-02-28   31.66
2013-03-01   31.58
2013-03-04   32.03
2013-03-05   32.45
2013-03-06   32.23
2013-03-07   32.00
2013-03-08   32.03
2013-03-11   32.31
2013-03-12   32.10
2013-03-13   32.12
2013-03-14   32.60
2013-03-15   32.57
2013-03-18   32.31
2013-03-19   31.99
2013-03-20   31.94
2013-03-21   32.04
2013-03-22   32.36

In [110]:
breach_1_compare = pd.concat([ndaq_stock_1, breach_1_months], axis=0)
breach_1_compare

            NASDAQ    WBA
Date
2013-01-22   27.50    NaN
2013-01-23   27.38    NaN
2013-01-24   27.51    NaN
2013-01-25   27.70    NaN
2013-01-28   27.78    NaN
...            ...    ...
2013-03-18     NaN  42.43
2013-03-19     NaN  44.74
2013-03-20     NaN  46.02
2013-03-21     NaN  45.81
2013-03-22     NaN  46.49

[86 rows x 2 columns]