In [214]:
# Initial import
import pandas as pd
from pathlib import Path

In [215]:
# Read in CSV
csv_2_path = Path("../data/raw data/DataBreaches(2004-2021).csv")
csv_2_data = pd.read_csv(csv_2_path)

In [216]:
# View Dataset
csv_2_data.head()

,Entity,Year,Records,Organization type,Method
0,21st Century Oncology,2016,2200000,healthcare,hacked
1,500px,2020,14870304,social networking,hacked
2,Accendo Insurance Co.,2020,175350,healthcare,poor security
3,Adobe Systems Incorporated,2013,152000000,tech,hacked
4,Adobe Inc.,2019,7500000,tech,poor security

In [217]:
# check for nulls  
csv_2_data.isnull().sum()

Entity               0
Year                 0
Records              0
Organization type    0
Method               0
dtype: int64

In [218]:
csv_2_data['Method'] = csv_2_data['Method'].str.replace('hacked','HACK')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('lost / stolen computer','STAT')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('inside job','INSD')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('poor security','HACK')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('HACK / HACK','HACK')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('social engineering', 'PHYS')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('accidentally published','DISC')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('lost / stolen media','STAT')
csv_2_data['Method'] = csv_2_data['Method'].str.replace('unknown','UNKN')

In [219]:
csv_2_data.rename(columns={'Method': 'Type of Breach', 'Organization type': 'Type of Organization', 'Records': 'Total Records', 'Entity': 'Company Name', 'Year': 'Year of Breach'}, inplace=True)
csv_2_data

,Company Name,Year of Breach,Total Records,Type of Organization,Type of Breach
0,21st Century Oncology,2016,2200000,healthcare,HACK
1,500px,2020,14870304,social networking,HACK
2,Accendo Insurance Co.,2020,175350,healthcare,HACK
3,Adobe Systems Incorporated,2013,152000000,tech,HACK
4,Adobe Inc.,2019,7500000,tech,HACK
...,...,...,...,...,...
290,Zynga,2019,173000000,social network,HACK
291,Westpac,2019,98000,financial,HACK
292,Unknown agency(believed to be tied to United S...,2020,200000000,financial,DISC
293,National Health Information Center (NCZI) of S...,2020,391250,healthcare,HACK
294,Les Éditions Protégez-vous,2020,380000,publisher (magazine),UNKN

In [220]:
csv_2_data = csv_2_data[(csv_2_data['Year of Breach'] > '2007') & (csv_2_data['Year of Breach'] <= '2018')]
csv_2_data

,Company Name,Year of Breach,Total Records,Type of Organization,Type of Breach
0,21st Century Oncology,2016,2200000,healthcare,HACK
3,Adobe Systems Incorporated,2013,152000000,tech,HACK
5,Advocate Medical Group,2017,4000000,healthcare,STAT
6,AerServ (subsidiary of InMobi),2018,75000,advertising,HACK
7,"Affinity Health Plan, Inc.",2013,344579,healthcare,STAT
...,...,...,...,...,...
284,Yahoo,2014,500000000,web,HACK
285,Yahoo Japan,2013,22000000,"tech, web",HACK
286,Yahoo! Voices,2012,450000,web,HACK
287,Yale University,2010,43000,academic,DISC
289,Zappos,2012,24000000,web,HACK

In [221]:
csv_2_data.set_index('Year of Breach', inplace=True)
csv_2_data

,Company Name,Total Records,Type of Organization,Type of Breach
Year of Breach,,,,
2016,21st Century Oncology,2200000,healthcare,HACK
2013,Adobe Systems Incorporated,152000000,tech,HACK
2017,Advocate Medical Group,4000000,healthcare,STAT
2018,AerServ (subsidiary of InMobi),75000,advertising,HACK
2013,"Affinity Health Plan, Inc.",344579,healthcare,STAT
...,...,...,...,...
2014,Yahoo,500000000,web,HACK
2013,Yahoo Japan,22000000,"tech, web",HACK
2012,Yahoo! Voices,450000,web,HACK
2010,Yale University,43000,academic,DISC
2012,Zappos,24000000,web,HACK

In [222]:
csv_2_data.sort_index(ascending=True, inplace=True)
csv_2_data

C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\pandas\core\frame.py:6402: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key,

,Company Name,Total Records,Type of Organization,Type of Breach
Year of Breach,,,,
2008,GS Caltex,11100000,energy,INSD
2008,Stanford University,72000,academic,STAT
2008,UK Home Office,84000,government,STAT
2008,UK Ministry of Defence,1700000,government,STAT
2008,University of Miami,2100000,academic,STAT
...,...,...,...,...
2018,United States Postal Service,60000000,government,HACK
2018,HauteLook,28517244,retail,HACK
2018,Under Armour,150000000,Consumer Goods,HACK
2018,MyHeritage,92283889,genealogy,UNKN
2018,Exactis,340000000,data broker,HACK

In [223]:
#Possible pyviz chart, after merging csvs
csv_2_data['Type of Breach'].value_counts()

HACK    146
STAT     37
DISC     14
INSD     11
PHYS      1
UNKN      1
Name: Type of Breach, dtype: int64

In [225]:
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('web','BSR')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('academic','EDU')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('government','GOV')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('financial','BSF')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('healthcare','MED')
csv_2_data['Type of Organization'] = csv_2_data['Type of Organization'].str.replace('retail','BSR')

C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Ldkel\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company Name,Total Records,Type of Organization,Type of Breach
Year of Breach,,,,
2008,GS Caltex,11100000,energy,INSD
2008,Stanford University,72000,EDU,STAT
2008,UK Home Office,84000,GOV,STAT
2008,UK Ministry of Defence,1700000,GOV,STAT
2008,University of Miami,2100000,EDU,STAT
...,...,...,...,...
2018,United States Postal Service,60000000,GOV,HACK
2018,HauteLook,28517244,BSR,HACK
2018,Under Armour,150000000,Consumer Goods,HACK
2018,MyHeritage,92283889,genealogy,UNKN
2018,Exactis,340000000,data broker,HACK

In [226]:
#Possible pyviz chart, after merging csvs
csv_2_data['Type of Organization'].value_counts()

BSR                           53
MED                           35
GOV                           24
BSF                           21
EDU                           11
telecoms                      10
gaming                         8
tech                           8
military                       6
transport                      5
social network                 3
energy                         3
media                          2
GOV, MED                       2
hotel                          2
Consumer Goods                 1
banking                        1
fashion                        1
GOV, database                  1
advertising                    1
genealogy                      1
ticket distribution            1
Question & Answer              1
BSR, tech                      1
BSF, credit reporting          1
special public corporation     1
educational services           1
tech, BSR                      1
BSR, military                  1
military, MED                  1
BSR, gaming                    1
data broker                    1
Name: Type of Organization, dtype: int64

In [227]:
csv_2_data

,Company Name,Total Records,Type of Organization,Type of Breach
Year of Breach,,,,
2008,GS Caltex,11100000,energy,INSD
2008,Stanford University,72000,EDU,STAT
2008,UK Home Office,84000,GOV,STAT
2008,UK Ministry of Defence,1700000,GOV,STAT
2008,University of Miami,2100000,EDU,STAT
...,...,...,...,...
2018,United States Postal Service,60000000,GOV,HACK
2018,HauteLook,28517244,BSR,HACK
2018,Under Armour,150000000,Consumer Goods,HACK
2018,MyHeritage,92283889,genealogy,UNKN
2018,Exactis,340000000,data broker,HACK