In [88]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

In [89]:
# Read in data
prc_data_csv = Path("../data/raw data/PRC Data Breach Chronology - 1.13.20.csv")
prc_data = pd.read_csv(prc_data_csv, index_col="Date Made Public", infer_datetime_format=True, parse_dates=True)
prc_data = prc_data.sort_index()
prc_data.head(15)

,Company,City,State,Type of breach,Type of organization,Total Records,Description of incident,Information Source,Source URL,Year of Breach,Latitude,Longitude,Unnamed: 13,Unnamed: 14,Unnamed: 15
Date Made Public,,,,,,,,,,,,,,,
2005-01-10,George Mason University,Fairfax,Virginia,HACK,EDU,"32,000","Names, photos, and Social Security numbers of ...",Dataloss DB,NaN,2005,38.846224,-77.306373,NaN,NaN,NaN
2005-01-18,"University of California, San Diego",San Diego,California,HACK,EDU,"3,500",A hacker breached the security of two Universi...,Dataloss DB,NaN,2005,32.715329,-117.157255,NaN,NaN,NaN
2005-01-22,University of Northern Colorado,Greeley,Colorado,PORT,EDU,"15,790",A hard drive was lost or stolen. It contained ...,Dataloss DB,NaN,2005,40.423314,-104.709132,NaN,NaN,NaN
2005-02-12,Science Applications International Corp. (SAIC),San Diego,California,STAT,BSO,"45,000",On January 25 thieves broke \n into...,Dataloss DB,NaN,2005,32.715329,-117.157255,NaN,NaN,NaN
2005-02-15,ChoicePoint,Alpharetta,Georgia,INSD,BSO,"163,000",Fraudsters who presented themselves as legitim...,Security Breach Letter,NaN,2005,34.075376,-84.294090,NaN,NaN,NaN
2005-02-18,University of Chicago Hospital,Chicago,Illinois,INSD,MED,85,The FBI launched an investigation into possibl...,Dataloss DB,NaN,2005,41.850033,-87.650052,NaN,NaN,NaN
2005-02-25,PayMaxx,Miramar,Florida,DISC,BSF,"100,000","A software glitch at PayMaxx Inc., a Franklin,...",Dataloss DB,NaN,2005,25.987314,-80.232271,NaN,NaN,NaN
2005-02-25,Bank of America Corp.,Charlotte,North Carolina,PORT,BSF,"1,200,000","Computer tapes with credit card information, S...",Dataloss DB,NaN,2005,35.227087,-80.843127,NaN,NaN,NaN
2005-03-08,"DSW Shoe Warehouse, Retail Ventures",Columbus,Ohio,HACK,BSR,"1,400,000",Credit card information from customers in 25 s...,Dataloss DB,NaN,2005,39.961176,-82.998794,NaN,NaN,NaN
2005-03-10,LexisNexis,Dayton,Ohio,INSD,BSO,"310,000",Unauthorized individuals used IDs and password...,Dataloss DB,NaN,2005,39.758948,-84.191607,NaN,NaN,NaN
2005-03-11,Boston College,Boston,Massachusetts,HACK,EDU,"120,000",A hacker gained access to a phone banking data...,Dataloss DB,NaN,2005,42.358431,-71.059773,NaN,NaN,NaN
2005-03-11,Kaiser Permanente,Oakland,California,DISC,MED,140,A disgruntled employee \n posted in...,Dataloss DB,NaN,2005,37.804372,-122.270803,NaN,NaN,NaN
2005-03-11,"University of California, Berkeley",Berkeley,California,PORT,EDU,"98,400",A laptop containing the Social Security number...,Dataloss DB,NaN,2005,37.871593,-122.272747,NaN,NaN,NaN
2005-03-12,Las Vegas Department of Motor Vehicles (LV DMV),Las Vegas,Nevada,STAT,GOV,"8,900",A computer and holographic \nlaminate material...,Dataloss DB,NaN,2005,36.114646,-115.172816,NaN,NaN,NaN
2005-03-16,"California State University, Chico",Chico,California,HACK,EDU,"59,000",A university housing and food service computer...,Dataloss DB,NaN,2005,39.728494,-121.837478,NaN,NaN,NaN

In [90]:
#Check data types
prc_data.dtypes

Company                     object
City                        object
State                       object
Type of breach              object
Type of organization        object
Total Records               object
Description of incident     object
Information Source          object
Source URL                  object
Year of Breach               int64
Latitude                   float64
Longitude                  float64
Unnamed: 13                float64
Unnamed: 14                float64
Unnamed: 15                 object
dtype: object

In [91]:
#
prc_data.count()

Company                    9015
City                       5690
State                      8436
Type of breach             8926
Type of organization       9015
Total Records              9009
Description of incident    9012
Information Source         8962
Source URL                 3607
Year of Breach             9015
Latitude                   6541
Longitude                  6541
Unnamed: 13                   0
Unnamed: 14                   0
Unnamed: 15                   1
dtype: int64

In [92]:
prc_data["Type of organization"].value_counts()

MED     4343
BSO     1045
EDU      848
BSF      787
GOV      781
BSR      623
UNKN     469
NGO      119
Name: Type of organization, dtype: int64

In [93]:
prc_data["Type of breach"].value_counts()

HACK    2533
DISC    1861
PHYS    1733
PORT    1172
UNKN     704
INSD     606
STAT     249
CARD      68
Name: Type of breach, dtype: int64

In [94]:
# Check Duplicates
prc_data.duplicated()

Date Made Public
2005-01-10    False
2005-01-18    False
2005-01-22    False
2005-02-12    False
2005-02-15    False
              ...
2019-08-19    False
2019-08-26    False
2019-09-18    False
2019-10-03    False
2019-10-25    False
Length: 9015, dtype: bool

In [95]:
# Check column names
prc_data.columns

Index(['Company', 'City', 'State', 'Type of breach', 'Type of organization',
       'Total Records', 'Description of incident', 'Information Source',
       'Source URL', 'Year of Breach', 'Latitude', 'Longitude', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [96]:
prc_data = prc_data.drop(columns=["Latitude", "Longitude", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15"])
prc_data.head(10)

,Company,City,State,Type of breach,Type of organization,Total Records,Description of incident,Information Source,Source URL,Year of Breach
Date Made Public,,,,,,,,,,
2005-01-10,George Mason University,Fairfax,Virginia,HACK,EDU,"32,000","Names, photos, and Social Security numbers of ...",Dataloss DB,NaN,2005
2005-01-18,"University of California, San Diego",San Diego,California,HACK,EDU,"3,500",A hacker breached the security of two Universi...,Dataloss DB,NaN,2005
2005-01-22,University of Northern Colorado,Greeley,Colorado,PORT,EDU,"15,790",A hard drive was lost or stolen. It contained ...,Dataloss DB,NaN,2005
2005-02-12,Science Applications International Corp. (SAIC),San Diego,California,STAT,BSO,"45,000",On January 25 thieves broke \n into...,Dataloss DB,NaN,2005
2005-02-15,ChoicePoint,Alpharetta,Georgia,INSD,BSO,"163,000",Fraudsters who presented themselves as legitim...,Security Breach Letter,NaN,2005
2005-02-18,University of Chicago Hospital,Chicago,Illinois,INSD,MED,85,The FBI launched an investigation into possibl...,Dataloss DB,NaN,2005
2005-02-25,PayMaxx,Miramar,Florida,DISC,BSF,"100,000","A software glitch at PayMaxx Inc., a Franklin,...",Dataloss DB,NaN,2005
2005-02-25,Bank of America Corp.,Charlotte,North Carolina,PORT,BSF,"1,200,000","Computer tapes with credit card information, S...",Dataloss DB,NaN,2005
2005-03-08,"DSW Shoe Warehouse, Retail Ventures",Columbus,Ohio,HACK,BSR,"1,400,000",Credit card information from customers in 25 s...,Dataloss DB,NaN,2005
2005-03-10,LexisNexis,Dayton,Ohio,INSD,BSO,"310,000",Unauthorized individuals used IDs and password...,Dataloss DB,NaN,2005

In [97]:
# Drop useless columns
prc_data = prc_data.drop(columns=["Source URL"])
prc_data.head()

,Company,City,State,Type of breach,Type of organization,Total Records,Description of incident,Information Source,Year of Breach
Date Made Public,,,,,,,,,
2005-01-10,George Mason University,Fairfax,Virginia,HACK,EDU,"32,000","Names, photos, and Social Security numbers of ...",Dataloss DB,2005
2005-01-18,"University of California, San Diego",San Diego,California,HACK,EDU,"3,500",A hacker breached the security of two Universi...,Dataloss DB,2005
2005-01-22,University of Northern Colorado,Greeley,Colorado,PORT,EDU,"15,790",A hard drive was lost or stolen. It contained ...,Dataloss DB,2005
2005-02-12,Science Applications International Corp. (SAIC),San Diego,California,STAT,BSO,"45,000",On January 25 thieves broke \n into...,Dataloss DB,2005
2005-02-15,ChoicePoint,Alpharetta,Georgia,INSD,BSO,"163,000",Fraudsters who presented themselves as legitim...,Security Breach Letter,2005

In [98]:
# Rename Columns
prc_data = prc_data.rename(columns={
    "Description of incident": "Descrition of Incident",
    "Type of breach": "Type of Breach",
    "Type of organization": "Type of Organization",
    "Company": "Company Name"
})
prc_data.head()

,Company Name,City,State,Type of Breach,Type of Organization,Total Records,Descrition of Incident,Information Source,Year of Breach
Date Made Public,,,,,,,,,
2005-01-10,George Mason University,Fairfax,Virginia,HACK,EDU,"32,000","Names, photos, and Social Security numbers of ...",Dataloss DB,2005
2005-01-18,"University of California, San Diego",San Diego,California,HACK,EDU,"3,500",A hacker breached the security of two Universi...,Dataloss DB,2005
2005-01-22,University of Northern Colorado,Greeley,Colorado,PORT,EDU,"15,790",A hard drive was lost or stolen. It contained ...,Dataloss DB,2005
2005-02-12,Science Applications International Corp. (SAIC),San Diego,California,STAT,BSO,"45,000",On January 25 thieves broke \n into...,Dataloss DB,2005
2005-02-15,ChoicePoint,Alpharetta,Georgia,INSD,BSO,"163,000",Fraudsters who presented themselves as legitim...,Security Breach Letter,2005

In [99]:
prc_data.set_index(prc_data['Year of Breach'], inplace=True)
prc_data.head()

,Company Name,City,State,Type of Breach,Type of Organization,Total Records,Descrition of Incident,Information Source,Year of Breach
Year of Breach,,,,,,,,,
2005,George Mason University,Fairfax,Virginia,HACK,EDU,"32,000","Names, photos, and Social Security numbers of ...",Dataloss DB,2005
2005,"University of California, San Diego",San Diego,California,HACK,EDU,"3,500",A hacker breached the security of two Universi...,Dataloss DB,2005
2005,University of Northern Colorado,Greeley,Colorado,PORT,EDU,"15,790",A hard drive was lost or stolen. It contained ...,Dataloss DB,2005
2005,Science Applications International Corp. (SAIC),San Diego,California,STAT,BSO,"45,000",On January 25 thieves broke \n into...,Dataloss DB,2005
2005,ChoicePoint,Alpharetta,Georgia,INSD,BSO,"163,000",Fraudsters who presented themselves as legitim...,Security Breach Letter,2005

In [100]:
#Count records/ year
prc_data["Year of Breach"].value_counts()

2013    903
2012    897
2017    874
2014    872
2016    832
2010    806
2011    797
2018    708
2015    554
2006    482
2007    456
2008    355
2009    271
2005    136
2019     72
Name: Year of Breach, dtype: int64

In [ ]:
prc_data_10yrdf = prc_data[()]