In [11]:
import pandas as pd
import plotly.express as px
import os
from pathlib import Path

In [12]:
csvpath = Path("../data/clean data/Data_Breaches.csv")
Data_Breaches = pd.read_csv(csvpath)
Data_Breaches.head()

,Unnamed: 0,Unnamed: 0.1,Company Name,Year of Breach,Date Made Public,Data Loss,Total Records,Type of Organization,Type of Breach,City,State,Description of Incident,Information Source
0,0,0.0,000webhost,2015,2015.0,NaN,13545468,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,17Media,2016,2016.0,NaN,4009640,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,AcneOrg,2014,2016.0,NaN,432943,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.0,Adobe,2013,2013.0,NaN,152445165,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.0,AdultFriendFinder,2015,2015.0,NaN,3867997,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
Data_Breaches["Type of Breach"].value_counts()

HACK    140
STAT     37
DISC     13
INSD     10
PHYS      1
UNKN      1
Name: Type of Breach, dtype: int64

In [14]:
## Group Type of Organizationon on total records lost, Bar chart to show data

#records_lost = Data_Breaches.groupby('Type of Organization').sum().sort_values("Total Records", ascending=False)
#records_lost = records_lost.reset_index()
#records_lost
#px.bar(x='Type of Organization', y='Total Records', data_frame=records_lost, title="Most Affected Organization")

In [ ]:
## Group total records lost by year, bar chart to show data

#records_by_year = Data_Breaches.groupby('Year of Breach').sum().sort_values('Total Records', ascending=False)
#records_by_year = records_by_year.reset_index()
#px.bar(x='Year of Breach', y='Total Records', data_frame=records_by_year, title="Total Records Lost by Year")

In [ ]:
#Sunburst plot showing the type of breach by sector

#fig_1 =px.sunburst(Data_Breaches, path=["Type of Organization","Type of Breach"], values='Total Records', width = 500, height = 500, title = "Type of Breaches for each Sector")
#fig_1.show()

In [ ]:
## Histogram showing year of breach, total records, and type of breach

#fig_2 = px.histogram(Data_Breaches, x="Year of Breach", y="Total Records", histfunc="count", color="Type of Breach", labels={'x':'Year', 'y':'Total Records'}).update_xaxes(categoryorder='total descending')
#fig_2.show()